<div class="projects-container">
    <div class="project-box">
        <h1>Some Project</h1>
        <a href="/some-project"></a>
        <hr />
    </div>
    <div class="project-box">
        <h1>Some Other Project</h1>
        <a href="/some-other-project"></a>
        <hr />
    </div>
    <div class="project-box">
        <h1>A really really really long project name</h1>
        <a href="/another-project"></a>
        <hr />
    </div>
</div>

<script src="home/home.js"></script>
