<div id="projects-container" class="projects-container">
</div>

<div id="new-project-modal" class="modal" data-show>
    <label for="projectName">Project Name</label>
    <input name="projectName" type="text" id="project-name-input"/>
    <form id="new-project-form">
        <button type="button">Cancel</button>
        <button type="submit">Create</button>
    </form>
</div>

<template id="project-box">
    <div class="project-box">
        <h1></h1>
        <a href="#"></a>
        <hr />
    </div>
</template>

<script src="scripts/home/home.js"></script>
