<div id="app"></div>

<script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>
<script src="home/home.js"></script>

<!-- We apply ck-editor-overrides last as it must come after the ckeditor script is called -->
<!-- ck-editor injects an automatic batch of styles to <head>, which inherently comes first -->
<!-- So we need our overrides to be at the "bottom" of the page to ensure they apply after -->
<link href="home/ck-editor-overrides.scss" rel="stylesheet"/>