<header>
    <a id="skip-btn" class="skip-btn" href="#">Skip to Editor</a>
    <nav>
        <ul class="navigation">
            <li>
                <a href="/">
                    <img class="nav-ico" src="resources/favicon.ico" title="Notes Favicon" alt="Return to Projects"/>
                </a>
            </li>
            <li>
                <a id="config-btn" href="#">Config</a>
            </li>
            <li>
                <a id="hotkeys-btn" href="#">Hotkeys</a>
            </li>
            <li>
                <form action="/api/auth/logout" method="post">
                    <button type="submit" id="logout-btn">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <a id="menu-btn" href="#hotkeys-btn" class="menu-btn" tabindex="-1">
        <svg class="notes menu" viewBox="0 0 50 50"><path d=""></path></svg>
    </a>
</header>