<div class="visually-hidden-focusable">
    <div class="container-xl">
        <a class="d-inline-flex p-2 m-1" href="#content">Skip to content</a>
    </div>
</div>

{{> navbar }}
{{> navigation-sidebar }}
{{> menu-sidebar }}
{{> create-new-modal }}
{{> markdown-modal }}
{{> keybinds-modal }}
{{> project-map-modal }}
{{> history-modal }}
{{> tags-modal }}

<script src="../../scripts/layout/header/_header.js"></script>