{{#> modal id="create-new-modal" titleTemplate="create-new-modal-header"}}
<div class="d-flex flex-column h-100">
    <div slot="body "class="tab-content w-100 pt-3 flex-grow-1">
        <div class="tab-pane h-100 active" id="create-project-pane" role="tabpanel"
            aria-labelledby="create-project-tab">
            <form class="h-100 d-flex flex-column" method="POST" action="" id="create-project-form">
                <div class="form-floating w-50 mb-3">
                    {{> textInput name='projectName' 
                        displayName='Project Name' 
                        id='create-project-name-input' 
                        required=true 
                        pattern='^[A-Za-z\-]{1,50}$'
                    }}
                </div>

                {{> editProject }}

                <hr class="mt-auto">

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-lg">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-lg ms-3">Create</button>
                </div>
            </form>
        </div>
        {{#if ./data.createNotes }}
            <div class="tab-pane h-100" id="create-note-pane" role="tabpanel"
                aria-labelledby="create-project-tab" tabindex="0">
                <form class="h-100 d-flex flex-column" method="POST" action="" id="create-note-form">
                    <ol id="create-note-breadcrumbs" class="breadcrumb fs-3"></ol>

                    <div class="form-floating w-50 mb-3">
                        {{> textInput name='name'
                            displayName='Note Name' 
                            id='create-note-name-input' 
                            pattern='^[A-Za-z\-]{1,50}$'
                            required=true 
                        }}
                    </div>

                    {{> editNote }}

                    <hr class="mt-auto">

                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary btn-lg">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-lg ms-3">Create</button>
                    </div>
                </form>
            </div>
        {{/if}}
    </div>
</div>
{{/modal}}