<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <header>
        <nav>
            <ul class="navigation">
                <li>
                    <a href="#app">Skip to Editor</a>
                </li>
                <li>
                    <a id="config-btn" href="#config">Config</a>
                </li>
                <li>
                    <a id="hotkeys-btn" href="#hotkeys">Hotkeys</a>
                </li>
            </ul>
        </nav>
        <a id="menu-btn" href="#hotkeys-btn" class="menu-btn">
            <svg class="menu"><path d=""></path></svg>
        </a>
    </header>
    <main>
        <div id="app"></div>
    </main>
    <footer>
    </footer>
</body>
</html>