<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Notes-{{./data.title}}</title>
    <link href="../../resources/favicon.ico" rel="icon" />
    <script src="../../scripts/layout/_layout.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/super-build/ckeditor.js"></script>
    
    <link href="../../styles/main.scss" rel="stylesheet" />
</head>
<body class="d-flex flex-column">
    <div class="d-none">
        {{{readFile './node_modules/bootstrap-icons/bootstrap-icons.svg'}}}
    </div>
    <div class="d-none">
        {{> _templates }}
    </div>

    {{#if ./data.headerEnabled }}
        {{> _header }}
    {{/if}}

    <div class="container-xxl d-flex flex-fill">
        {{> @partial-block }}
    </div>

    {{> _footer}}
</body>

</html>