{{#> _layout data=./layout }}
<div id="projects-container" class="projects-container">
</div>

<div id="new-project-modal" class="modal" data-show>
    <form id="new-project-form">
        <div class="form-container">
            <div class="form-section">
                <label for="projectName">Project Name</label>
                <input name="projectName" type="text" required />
            </div>

            <div class="form-buttons">
                <button type="button" class="btn secondary" data-target="new-project-modal" data-toggle="hide">Cancel</button>
                <button type="submit" class="btn success">Create</button>
            </div>
        </div>
    </form>
</div>

<template id="project-box">
    <div class="project-box">
        <h1></h1>
        <a href="#"></a>
        <hr />
    </div>
</template>

<script src="../../scripts/home/home.js"></script>

{{/_layout}}