$background-black: #0F0F0F;
$background-blue: #232D3F;
$notable-green: #005B41;
$highlight-torquise: #008170;
$site-font: Tahoma;

@import './denied/denied';
@import './home/home';
@import './login/login';
@import './note/note';
@import './project/project';

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body, main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

body {
    color: white;
    background-color: $background-black;
    margin: 0;
}

header {
    height: 0;
}

$header-size: 10vh;
header > nav {
    margin-top: -$header-size;
    height: $header-size;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $background-blue;
    z-index: 98;
    position: relative;
    transition-property: margin-top;
    transition-duration: 0.5s;
}

header > nav:focus-within {
    margin-top: 0px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    padding: 0;
}

.navigation > li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0 1vw;
}
.navigation > li:last-child {
    flex-grow: 1;
    flex-direction: row-reverse;
}

.nav-ico {
    max-height: $header-size;
}

header a, header button {
    text-decoration: none;
    color: $highlight-torquise;
    cursor: pointer;
    font-size: xx-large;
    font-weight: 500;
    font-family: $site-font;
    display: inline-block;
    filter: drop-shadow(1px 1px 1px $notable-green);
    transform: translate(0px, 0px);
    transition: all 0.2s ease-in-out;
    background: none;
    border: none;
}

header a:hover {
    filter: drop-shadow(4px 2px 2px $notable-green);
    transform: translate(-1px, -2px);
}

.skip-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2vh;
    padding: 1vh;
    padding-left: 5vh;
    z-index: 999;
    background-color: $background-black;
    border: solid 1px white;
    transform: translateX(-105%);
}
.skip-btn:focus {
    transform: translateX(-8%);
}

.menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 97;
    height: $header-size - 3vh;
    width: $header-size - 1vh;
    margin: 1vh;
}

header > nav:focus-within + .menu-btn {
    z-index: -1;
}

svg.notes {
    width: 100%;
    height: 100%;

    path {
        fill: $highlight-torquise;
        stroke: $highlight-torquise;
        stroke-width: 1;
    }
}

svg.menu {
    path {
        d: path("M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z");
    }
}

a:hover > svg.notes > path {
    stroke-width: 3;
}