{{> iconDropdown 
    id='project-icon-input'
    value='journal'
    name='icon'
    data=(json 
        '[
            "journal", 
            "journal-bookmark", 
            "journal-check", 
            "journal-code", 
            "journal-medical", 
            "journal-album", 
            "journal-richtext", 
            "journal-text",
            "journal-x", 
            "journal-arrow-up", 
            "journal-arrow-down"
        ]'
    )
}}

<span class="d-flex align-items-baseline"><h4>Description</h4><sup>MD</sup></span>
<div id="new-project-description"></div>