<div 
    class="input-group mb-3 dropend" 
    data-trigger="replace"
    data-selector="a"
    data-target="input"
    data-placeholder="button"
>
    <input type="hidden" value="journal" name="Icon"/>

    <label class="input-group-text" for="project-icon-input">Icon</label>
    <button class="btn btn-outline-light dropdown-toggle fs-2" type="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        <svg width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
            <title>Journal</title>
            <use href="#journal"></use>
        </svg>
    </button>
    <div class="dropdown-menu icon-dropdown fs-2">
        <div class="dropdown-icon-box">
            <div>
                <a class="dropdown-item text-bg-secondary" data-value="journal">
                    <svg width="24" height="24" class="bi" fill="currentColor"
                        viewBox="0 0 16 16">
                        <title>Journal</title>
                        <use href="#journal"></use>
                    </svg>
                </a>
            </div>
            <div>
                <a class="dropdown-item" data-value="journal-bookmark">
                    <svg width="24" height="24" class="bi" fill="currentColor"
                        viewBox="0 0 16 16">
                        <use href="#journal-bookmark"></use>
                    </svg>
                </a>
            </div>
            <div>
                <a class="dropdown-item" data-value="journal-check">
                    <svg width="24" height="24" class="bi" fill="currentColor"
                        viewBox="0 0 16 16">
                        <use href="#journal-check"></use>
                    </svg>
                </a>
            </div>
            <div>
                <a class="dropdown-item" data-value="journal-code">
                    <svg width="24" height="24" class="bi" fill="currentColor"
                        viewBox="0 0 16 16">
                        <use href="#journal-code"></use>
                    </svg>
                </a>
            </div>
            <div>
                <a class="dropdown-item" data-value="journal-medical">
                    <svg width="24" height="24" class="bi" fill="currentColor"
                        viewBox="0 0 16 16">
                        <use href="#journal-medical"></use>
                    </svg>
                </a>
            </div>
            <div>
                <a class="dropdown-item" data-value="journal-album">
                    <svg width="24" height="24" class="bi" fill="currentColor"
                        viewBox="0 0 16 16">
                        <use href="#journal-album"></use>
                    </svg>
                </a>
            </div>
            <div>
                <a class="dropdown-item" data-value="journal-richtext">
                    <svg width="24" height="24" class="bi" fill="currentColor"
                        viewBox="0 0 16 16">
                        <use href="#journal-richtext"></use>
                    </svg>
                </a>
            </div>
            <div>
                <a class="dropdown-item" data-value="journal-text">
                    <svg width="24" height="24" class="bi" fill="currentColor"
                        viewBox="0 0 16 16">
                        <use href="#journal-text"></use>
                    </svg>
                </a>
            </div>
            <div>
                <a class="dropdown-item" data-value="journal-x">
                    <svg width="24" height="24" class="bi" fill="currentColor"
                        viewBox="0 0 16 16">
                        <use href="#journal-x"></use>
                    </svg>
                </a>
            </div>
            <div selected>
                <a class="dropdown-item" data-value="journal-arrow-down">
                    <svg width="24" height="24" class="bi" fill="currentColor"
                        viewBox="0 0 16 16">
                        <use href="#journal-arrow-down"></use>
                    </svg>
                </a>
            </div>
            <div selected>
                <a class="dropdown-item" data-value="journal-arrow-up">
                    <svg width="24" height="24" class="bi" fill="currentColor"
                        viewBox="0 0 16 16">
                        <use href="#journal-arrow-up"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>

<span class="d-flex align-items-baseline"><h4>Description</h4><sup>MD</sup></span>
<div id="new-project-description"></div>