<div class="offcanvas offcanvas-end flex-grow-1" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel" data-bs-scroll="true">
    <div class="offcanvas-header px-4 pb-0">
        <h5 class="offcanvas-title" id="bdNavbarOffcanvasLabel">Bootstrap</h5>
        <button type="button" class="btn btn-outline-secondary btn-sm focus-ring" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar">
            <svg class="bi" aria-hidden="true"><use xlink:href="#x-lg"></use></svg>
        </button>
    </div>

    <div class="offcanvas-body p-4 pt-0">
        <hr>

        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
            <li class="nav-item col-6 col-lg-auto">
                <a class="nav-link py-2 px-0 px-lg-2 icon-link" href="#" data-bs-toggle="modal" data-bs-target="#hotkeys-modal">
                    <svg class="bi" aria-hidden="true"><use xlink:href="#keyboard"></use></svg>
                    Hotkeys
                </a>
            </li>
        </ul>

        <hr>

        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li class="nav-item col-6 col-lg-auto">
                <a class="nav-link py-2 px-0 px-lg-2" href="https://github.com/SteffenBlake/Notes" target="_blank" rel="noopener">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="navbar-nav-svg" viewBox="0 0 512 499.36" role="img">
                        <title>GitHub</title>
                        <use href="#github"></use>
                    </svg>
                    <small class="ms-2">GitHub</small>
                </a>
            </li>

            <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
                <hr class="my-2 text-white-50">
            </li>

            <li class="nav-item dropdown">
                <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (dark)">
                    <svg class="bi my-1 theme-icon-active"><use href="#moon-stars-fill"></use></svg>
                    <span class="ms-2" id="bd-theme-text">Toggle theme</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                            <svg class="bi me-2 opacity-50 theme-icon"><use href="#sun-fill"></use></svg>
                            Light
                            <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark" aria-pressed="true">
                            <svg class="bi me-2 opacity-50 theme-icon"><use href="#moon-stars-fill"></use></svg>
                            Dark
                            <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                            <svg class="bi me-2 opacity-50 theme-icon"><use href="#circle-half"></use></svg>
                            Auto
                            <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>