<header class="navbar sticky-top align-self-start w-100 bg-body-secondary">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
        <div class="bd-navbar-toggle">
            <button class="navbar-brand btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar" aria-controls="bdSidebar" aria-label="Toggle docs navigation">
                <svg width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
                    <title>Directory</title>
                    <use href="#archive-fill"></use>
                </svg>
            </button>
        </div>

        <button class="navbar-brand btn btn-outline-secondary btn-sm" href="#" aria-label="Add New">
            <svg width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
                <title>Add New</title>
                <use href="#journal-plus"></use>
            </svg>
        </button>
        <div class="d-flex">
            <button class="navbar-brand btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-label="Toggle navigation">
                <svg width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
                    <title>Menu</title>
                    <use xlink:href="#list"></use>
                </svg>
            </button>
        </div>
    </nav>
</header>