<div class="offcanvas offcanvas-start" tabindex="-1" id="navigation-sidebar" aria-labelledby="navigation-sidebar-label">
    <div class="offcanvas-header border-bottom">
        <h3 class="offcanvas-title" id="navigation-sidebar-label">Navigation</h3>
        <button type="button" class="btn btn-outline-secondary btn-sm focus-ring" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#navigation-sidebar">
            <svg class="bi" aria-hidden="true"><use xlink:href="#x-lg"></use></svg>
        </button>
    </div>

    <div class="offcanvas-body">
        <nav class="w-100" aria-label="Recent">
            <h4>Recent</h4>
            <ul class="navbar-nav flex-column" id="navigation-recent">
                <li class="nav-item col-6 col-lg-auto">
                    <span class="placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </span>
                </li>
                <li class="nav-item col-6 col-lg-auto">
                    <span class="placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </span>
                </li>
                <li class="nav-item col-6 col-lg-auto">
                    <span class="placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </span>
                </li>
                <li class="nav-item col-6 col-lg-auto">
                    <span class="placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </span>
                </li>
                <li class="nav-item col-6 col-lg-auto">
                    <span class="placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </span>
                </li>
            </ul>
        </nav>

        <hr>

        <nav class="w-100 directory-nav" aria-label="Directories">
            <h4>Directories</h4>
            <ul id="navigation-dir-0">
                <li class="expand">
                    <span class="placeholder-glow">
                        <span class="placeholder col-4"></span>
                    </span>
                    <ul>
                        <li class="expand">
                            <span class="placeholder-glow">
                                <span class="placeholder col-4"></span>
                            </span>
                        </li>
                        <li class="expand">
                            <span class="placeholder-glow">
                                <span class="placeholder col-4"></span>
                            </span>
                            <ul>
                                <li>
                                    <span class="placeholder-glow">
                                        <span class="placeholder col-4"></span>
                                    </span>
                                </li>
                                <li>
                                    <span class="placeholder-glow">
                                        <span class="placeholder col-4"></span>
                                    </span>
                                </li>
                                <li class="expand">
                                    <span class="placeholder-glow">
                                        <span class="placeholder col-4"></span>
                                    </span>
                                    <ul>
                                        <li>
                                            <span class="placeholder-glow">
                                                <span class="placeholder col-4"></span>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="placeholder-glow">
                                <span class="placeholder col-4"></span>
                            </span>
                        </li>
                    </ul>
                </li>
                <li class="expand">
                    <span class="placeholder-glow">
                        <span class="placeholder col-4"></span>
                    </span>
                    <ul>
                        <li>
                            <span class="placeholder-glow">
                                <span class="placeholder col-4"></span>
                            </span>
                        </li>
                        <li>
                            <span class="placeholder-glow">
                                <span class="placeholder col-4"></span>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

<template id="navigation-sidebar-recent-template">
    <li class="nav-item col-6 col-lg-auto">
        <a class="py-2 px-0 px-lg-2 icon-link" href="#">
            <svg class="bi" aria-hidden="true"><use xlink:href="#file-earmark"></use></svg>
            <span>NAME</span>
        </a>
    </li>
</template>

<template id="navigation-sidebar-directory-template">
    <li class="expand">
        <a>NAME</a>
        <button type="button" class="btn p-0">
            <svg class="bi right" aria-hidden="true"><use xlink:href="#caret-right"></use></svg>
            <svg class="bi down" aria-hidden="true"><use xlink:href="#caret-down-fill"></use></svg>
        </button>
        <ul>
        </ul>
    </li>
</template>