<div class="modal fade" tabindex="-1" id="project-map-modal" aria-labelledby="project-map-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="project-map-modal-title" class="modal-title">Project Map</h1>
                <button type="button" class="btn btn-outline-secondary btn-sm focus-ring" data-bs-dismiss="modal" aria-label="Close">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="#x-lg"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>