.projects-container {
    flex-grow: 1;
    margin: 10vh 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.project-box {
    width: 360px;
    height: 200px;
    margin: 2vh 2vw;
    text-align: left;
    border: 2px solid $highlight-torquise;
    border-radius: 10px;
    background-color: $background-blue;
    color: white;
    font-family: $site-font;
    font-size: small;
    filter: drop-shadow(1px 1px 1px $notable-green);
    transform: translate(0px, 0px);
    transition: all 0.2s ease-in-out;
    text-shadow: $text-shadow;
}

.project-box:hover, .project-box:focus-within {
    filter: drop-shadow(4px 3px 6px $notable-green);
    transform: translate(-3px, -6px);
}

.project-box > hr {
    border: 2px solid $highlight-torquise;
}

/* https://stackoverflow.com/a/22074404/7839602 */
.project-box > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.project-box > h1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 4vh;
    padding: 0 1vw;
}

